* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.logo-row, .input {
    margin-bottom: 30px;
}

.row {
    justify-content: center;
}

.row > div > * {
    width: 100%;
}

.input div {
    display: inline-block;
}

.input div > * {
    border-radius: 10px;
    height: 40px;
    text-align: center;
}

.input input, .input button {
    outline: none;
}

.input button {
    border: 2px solid #66de73;
}

.input button:hover {
    background-color: #d0f3d5;
}

.todo {
    background-color: #f5f7f7;
    padding: 30px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 4px 4px 10px #666;
}

.things {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.things:hover {
    background-color: #d0f3d5;
}

.fa-times:hover {
    color: red;
}